<div class="scrollable">
     <div class="scrollable-content section">
        <button class="btn btn-primary btn-block" ng-click="go('about')">Getting Started</button>
        <button class="btn btn-primary btn-block" ng-click="go('record')">Start Interview</button>
        <button class="btn btn-primary btn-block" ng-model="myVideo" video>Job Openings</button>
        <button class="btn btn-primary btn-block" ng-model="myVideo" video>Top 10 vuba's</button>
        <button class="btn btn-primary btn-block" ng-model="myVideo" video>Account</button>
             
    </div>
</div>