<div class="scrollable">
     <div class="scrollable-content section">
         <span>What is vuba?</span>
        <p>
            <span>Vuba is a 20 minute video interview platform.</span>
         </p>
        <p>
            <span>Vuba will ask you 9 random HR and job specific questions, you have 2 minutes to answer each.</span>
         </p> 
         <p>
            <span>These questions are based on your profile so lets get you registered.</span>
         </p>
         <hr/>
         <button type="button" class="btn btn-default btn-block" aria-label="Right Align">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>Video Demo
         </button>
         <hr/>
         <button class="btn btn-success btn-block" ng-click="go('stepone')">Register</button>
    </div>
</div>